.navbar{
    padding: 30px;
    transition: 1s;
}
.navbar.scroll{
    background: #3498db;
}
.navbar-brand{
    font-weight: bold;
    font-style: italic;
    padding-left: 150px;
    font-size:50px;
    color:black;
    text-transform: capitalize;
}
.navbar-nav{
    padding-left: 300px;
}
.nav-link{
    font-weight: bold;
    font-style: italic;
    color:black;
    margin-left: 5px;
    transition: 0.6s;
    border-radius: 20px;
    text-transform:capitalize;
}
.nav-link:hover{
    transform:translateY(-20px);
    background: #ff0000;
}

/*HEADER*/
.header{
    margin:0;
    padding:0;
}
.header-img-parent{
    position: relative;
}
.header img{
    height: 100vh;
    width:100%;
    opacity: 0.5;
}
.header .img-overlay{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: black;
    z-index:1;
    opacity:0.4;
}
.header .img-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:2;
    color:white;
    text-align:center;
    justify-content: center;
}
.header .img-content h2{
    font-weight: bold;
    font-style: italic;
    font-size:60px;
    margin-bottom:20px;
}
.header .img-content span{
    font-weight:500;
    font-size:20px;
    font-style:italic;
    letter-spacing:0.2px;
}
/*EVENT SECTION*/
.event{
    margin:200px auto;
    margin-top: 0px;

}
.event-content{
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.3), inset 10px 10px 10px -10px rgba(0,0,0,0.5);
    padding:10px;
    cursor:pointer;
    background:#fff;
    margin-top: -10px;
    margin-left:20px;
    position:relative;
}
.event-content h4{
    font-weight: bold;
    font-style:italic;
    font-size:20px;
    margin-bottom: 5px;
}
.event-content span{
    font-style:italic;
    font-size:15px;
    width: 100px;
    padding:100px;
    

}
.event-content a{
    text-transform: uppercase;
    font-weight: bold;
    margin-top:10px;
}
.event img{
    transition: 0.6s;
}
.event img:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.event col-sm-5{
margin-bottom: 200px;
}
footer{
    margin:200px auto; 
    background: #3498db;
    padding:50px;

}
footer h6{
    font-weight: bold;
    color:#fff;
    font-style: italic;
    margin-bottom:20px;
}
footer span{
    font-weight: bold;
    color:#ccc;
    font-style:italic;
    font-size: 10px;
}